.App{
  width:100%;
  margin:0;
  padding: 0;
}

main{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.subredditsMenu {
  display: inline-block;
  position: fixed;
  width: 200px;
  background-color:  #DAE0E6;
  border-radius: 15px;
  border: 3px solid #FF5733;
  z-index: 5;
} 


.feedButtons{
  text-align: center;
  margin-bottom: 10px;
}

.feedButtons button {
  color: grey;    
  background-color: #DAE0E6;
  margin: 5px;
  margin-top: 10px;
  border: 3px solid grey;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  font-size: 1.2rem;
  font-weight: bold;
  
  transition: all 0.3s ease;
}

.feedButtons button:hover {
  color:#FF5733;
  border: 3px solid #FF5733;
}

.feedButtons button.active {
  color: white;
  border: 3px solid #FF5733;
  background-color: #FF5733;
}

.subredditsMenu button {
  color: grey;    
  background-color: #DAE0E6;
  margin: 5px;
  border: 3px solid grey;
  border-radius: 15px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  position:relative;
  right: 21px;
  transition: all 0.4s ease;
}

.subredditsMenu button:hover {
  color:#FF5733;
  border: 3px solid #FF5733;
}

.subredditsMenu button.active {
  color: white;
  border: 3px solid #FF5733;
  background-color: #FF5733;
}

/* MEDIA QUERY */

@media screen and (max-width: 1140px) {
  .subredditsMenu {
    display:none;
  }
  .feed{
    min-width: 0;
  }
  
}

@media screen and (max-width: 900px) {
  main{
    padding:0;
  }
  .feed{
    margin: 0 auto;
    width: 100%;
  }
}